:root {
	--primary: #202020ff;
	--secondary: #3f3f3fff;
	--title: #ffffffff;
	--subTitle: #f9a602;
	--text: #fff;

	--start-gradient: #202020ff;
	--end-gradient: #3f3f3fff;
	--articles: linear-gradient(
		to top left,
		var(--start-gradient),
		var(--end-gradient)
	);
	--shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.8);
}
