/* --Imports-- */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Prompt:wght@200&family=Trirong:ital,wght@1,100&display=swap");

/* --Scrollbar-- */
::-webkit-scrollbar {
	display: none;
}

section::-webkit-scrollbar {
	display: none;
}

/* --Containers-- */
body {
	font-family: Lexend, sans-serif;
	color: var(--title);
	background-color: var(--primary);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow-x: hidden;
}
main {
	display: grid;
	grid-template-areas: "section" "portfolio" "about";
	grid-template-rows: 100vh;
	position: absolute;
	width: 100%;
}

section {
	-ms-overflow-style: none;
	position: relative;
	flex-flow: column;
	align-items: center;
	line-height: 1.3;
	justify-content: center;
	display: flex;
	padding-bottom: 1vw;
	z-index: 2;
	height: inherit;
}

#about_me section {
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 1vmin;
	width: 80vmin;
	margin: auto;
}

main > article:first-child {
	justify-content: center;
	box-shadow: var(--shadow);
	position: fixed;
}

main > article:first-child:after {
	--blur-amount: blur(2px);
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background: url("../images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: var(--blur-amount);
	/* Chrome, Opera */
	-moz-filter: var(--blur-amount);
	-ms-filter: var(--blur-amount);
	filter: var(--blur-amount);
	width: 100%;
	height: 100%;
}

article#about_me {
	display: flex;
	flex-flow: column;
	margin-top: 2vmin;

	border-top: 1px solid #f9a602;
	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(
			to left,
			rgba(0, 0, 0, 0),
			#f9a602,
			rgba(0, 0, 0, 0)
		)
		1 0 100%;
}

main > article {
	position: relative;
	height: 100%;
	width: 100vw;
}

main:first-child {
	grid-area: intro;
}
#about_me {
	grid-area: about;
	background-color: #0d0106;
}

#portfolio {
	grid-area: portfolio;
	background-color: #0d0106;
}

#about_me section > :nth-child(even) {
	border-left: 1px solid var(--subTitle);
	margin: 2vmin auto;
	width: 100%;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
}
/* --Text-- */

main article:first-child section > * {
	align-self: center;
	text-align: center;
	width: 80vmin;
}

#about_me:nth-child(3) h2 {
	margin-top: 7vmin;
	width: 100%;
}

a {
	text-decoration: none;
	color: var(--subText);
}

h1 {
	text-align: center;
	font-family: "Prompt", sans-serif;
	line-height: 0.9;
	font-size: calc(28px + 8vmin);
	padding: 0.5vw;
	color: var(--title);
	margin-bottom: 5rem;
}

h2 {
	font-size: calc(20px + 2vmin);
	color: var(--subTitle);
	margin: 0 auto;
}

#about_me h2 {
	margin-left: 0;
}

#about_me h2,
h3,
h4 {
	font-size: calc(18px + 5vmin);
	color: var(--subTitle);
	padding: 0 0.5vw;
	font-family: "Trirong", serif;
	margin-left: 1rem;
}
h3 {
	font-size: calc(16px + 2.7vmin);
}

h4 {
	font-size: calc(14px + 1.3vmin);
}

p,
figcaption {
	align-self: flex-end;
	line-height: 1.5;
	font-size: calc(12px + 1.3vmin);
	padding: 0.5vw;
	color: var(--text);
	font-family: "Mukta", sans-serif;
	margin: 1rem;
}
/* --Navigation-- */
nav {
	position: fixed;
	font-weight: 700;
	z-index: 10;
	padding: 0.5vw 1vw;
	border-radius: 0 0 0 0.3vw;
	box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.5);
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
nav a {
	text-decoration: none;
	padding: 0.5vw;
	font-size: 1.5vw;
	line-height: 1.5;
	color: #fff;
	text-decoration: none;
	line-height: 1.5;
}
#openMenu,
.closebtn {
	display: none;
}
#colorChangeButtons {
	position: fixed;
	z-index: 10;
	bottom: 1vw;
	overflow: auto;
	height: 20vw;
	left: 1vw;
	border-radius: 1vw;
	background-color: rgba(52, 73, 94, 0.98);
	box-shadow: var(--shadow);
}
#colorChangeButtons a {
	color: #fff;
	display: block;
	width: 10vw;
}

/* --Media Queries-- */
@media (max-width: 1050px) {
	nav {
		height: 100%;
		width: 0;
		position: fixed;
		padding: 0;
		top: 0;
		left: 0;
		background-color: rgba(52, 73, 94, 0.98);
		overflow-x: hidden;
		transition: 0.5s;
		z-index: 2;
		margin-top: 0;
	}
	nav a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #fff;
		display: block;
		transition: 0.3s;
		width: 100%;
	}
	#colorChangeButtons,
	#overlay {
		position: relative;
		width: 100%;
		text-align: center;
		box-shadow: none;
	}
	#colorChangeButtons {
		left: 0;
		border-radius: 0;
		height: auto;
		background-color: transparent;
		box-shadow: none;
	}
	#colorChangeButtons a {
		width: 100%;
	}
	nav a:focus,
	nav a:hover {
		background-color: var(--primary);
	}
	#openMenu,
	.closebtn {
		font-size: 8vw;
		cursor: pointer;
		position: fixed;
		z-index: 2;
		display: block;
		padding: 0 1vw;
		cursor: pointer;
	}
	a {
		width: 100%;
		text-align: center;
		position: relative;
	}
	a:nth-child(2) {
		width: 100%;
	}
	a:nth-child(3) {
		width: 100%;
	}
	a:nth-child(4) {
		width: 100%;
	}
	nav a:focus,
	nav a:hover {
		background-color: transparent;
	}
	.closebtn {
		position: absolute;
		text-align: right;
		right: 1rem;
	}
}

@media all and (orientation: portrait) {
	main > article:first-child:after {
		background: url("../images/background_phone.png");
	}
}

/* --images-- */

#mouse {
	position: fixed;
	width: calc(70px + 5vmin);
	bottom: 2rem;
}

#mouse > object {
	width: 100%;
	pointer-events: none;
}
