#portfolio > div {
	display: grid;
	width: 60%;
	margin: auto;
	grid-gap: 1vmin;
	grid-template-columns: repeat(auto-fit, minmax(30vmin, 1fr));
	padding: 5vmin;
}

.project {
	position: relative;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

figcaption {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.25s ease;
	background-color: #0d0106;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
}

.project:hover figcaption {
	opacity: 1;
	margin: 0;
	padding: 0;
}

figcaption > p {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
