#portfolio div {
	display: grid;
	width: 150vmin;
	margin: auto;
	grid-gap: 2vmin;
	grid-template-columns: repeat(auto-fit, minmax(30vmin, 1fr));
	margin-top: 3vmin;
}

#portfolio > section > h2 {
	margin-top: 7vmin;
}

.project {
	position: relative;
	transition: transform 0.25s ease-in-out;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

figcaption {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: #0d0106;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
}

.project:hover {
	transform: scale(1.05);
	z-index: 2;
}

figcaption > p {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
